<ion-header>
  <ion-toolbar>
    <ion-title>
      Video App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <video width="100%" [hidden]="!replyURL" preload controls playsinline src="assets/videos/1.mp4"> -->
  <video width="100%" [hidden]="!captured" autoplay preload controls playsinline #myvideo>
    <!-- <source src="assets/videos/1.mp4" type="video/mp4"> -->
  </video>
  <div class="ion-padding">
    <ion-button [hidden]="device==2" (click)="onClickCapture()" expand="block">Capture</ion-button>
    <input [hidden]="device==1" type="file" accept="video/*;capture=camcorder" value="Capture">
  </div>
</ion-content>
