<ion-header>
  <ion-toolbar>
    <ion-title>
      Video App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <video width="100%" [hidden]="!replyURL" preload controls playsinline src="assets/videos/1.mp4"> -->
  <video width="100%" [hidden]="!captured" autoplay preload controls playsinline #myvideo>
    <!-- <source src="assets/videos/1.mp4" type="video/mp4"> -->
  </video>

  <div class="ion-padding">
    <ion-button [hidden]="!isApp" (click)="onClickCapture()" expand="block">Capture</ion-button>
    <div [hidden]="isApp">
      <!-- <input type="file" accept="video/*" id="capture" capture="camcorder" #myinput> -->
      <!-- <input type="file" name="video" id="capture" accept="video/*" capture="environment" #myinput> -->
      <input type="file" accept="video/*" capture="camera" id="capture" #myinput>

      <ion-button (click)="onClickCapture()" expand="block">Capture</ion-button>
    </div>
  </div>
</ion-content>
